<!DOCTYPE html>
<html>
	<head>
		<title>SENTIMENTAL CHECK</title>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	</head>
	<body>
        <form action="SENTIMENTAL_CHECK" method="POST" enctype="multipart/form-data">
            <label>SENTENCE:</label>
            <input type="text" id="TEXT" name="TEXT"><br><br>
            <input type="submit" value="Submit">
          </form>

		
	</body>
</html>